.post-box {
  margin: 50px 0 ;
  .customer-post {
    margin-bottom: 30px;
    margin-right: 45px;
    padding: 20px 20px 10px;
    background-color: #f9f9f9;

  }
  .admin-post {
    margin-bottom: 30px;
    text-align: right;
    color: #fff;
    margin-left: 45px;
    padding: 20px 20px 10px;
    background-color: #97dac9;
    p {
      text-align: justify;
    }
  }
}
