.account-content {
  margin-top: 30px
}

.new-text {
  background-color: #f9f9f9;
  padding: 20px;
  color: #666;
}

.new-project-form {
  margin: 50px 0 50px;
  label {
    font-weight: normal;
  }
  button-a {
    padding-top: 20px;
  }
}

.project-index {
  .project-index-box {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #f1f1f1;
    color: #666;
    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }
    p {
      margin: 20px 0;
    }
    img {
      max-width:100%;
      height:auto;
    }
  }
}
