<div class="main-banner">

  <div class="container">

    <!-- slogan -->
    <div class="slogan col-md-12">
      <h2 class="text-right">让网站成为你的靓丽名片</h2>
    </div>

    <!-- play buttom -->
    <div class="play-buttom text-center">
      <a href="#" class="fa fa-play-circle" aria-hidden="true"></a>
    </div>
  </div>

</div>
