<div class="main-banner">

  <!-- slogan -->
  <div class="slogan container">
    <div class="col-md-12">
      <div class="text-right">
        <h2>让网站成为你的靓丽名片</h2>
      </div>
    </div>

  </div>

</div>
