<!-- banner部分 -->
<div class="main-banner">

  <div class="container">

    <!-- slogan -->
    <div class="slogan col-md-12">
      <h2 class="text-right">让网站成为你的靓丽名片</h2>
    </div>

    <!-- play buttom -->
    <div class="play-buttom text-center">
      <a href="http://v.youku.com/v_show/id_XMzA4NTE1NzcyMA==.html?firsttime=68"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
    </div>

    <!-- 一句话说明 -->
    <div class="slogan2 row col-sm-8 col-sm-offset-2">
      <p>虽然我们强调，不要过分关注一个人的外表而忽视了其内在的品质，但我们也要认识到，一个人的名字，是一个品牌；一个人的形象，是一张名片。</p>
    </div>
  </div>

</div>


<!-- feature 部分 -->
<div class="main-feature">

  <div class="container">

    <div class="feature-slogan">
      <h2 class="text-center">去拓展网站的影响力</h2>
      <h3 class="text-center">在网络上，名片不是你写的自我简介，而是你创造出来的作品。作品，才是你的名片。</h3>
    </div>

    <div class="feature-box col-md-4">
      <div class="feature-img">
        <img class="img-circle center-block" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508622771393&di=65a80c5abc579801ac55590bf662afdd&imgtype=0&src=http%3A%2F%2Fpic31.photophoto.cn%2F20140601%2F0008020212064544_b.jpg" alt="">
      </div>
      <div class="feature-text text-center">
        <h5>优化设计感</h5>
        <p>气场是你独一无二的精神名片。只有真善美是你正真的名片，其它的都是社会的通行证。</p>
      </div>
    </div>

    <div class="feature-box col-md-4">
      <div class="feature-img">
        <img class="img-circle center-block" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508622771393&di=65a80c5abc579801ac55590bf662afdd&imgtype=0&src=http%3A%2F%2Fpic31.photophoto.cn%2F20140601%2F0008020212064544_b.jpg" alt="">
      </div>
      <div class="feature-text text-center">
        <h5>优化设计感</h5>
        <p>气场是你独一无二的精神名片。只有真善美是你正真的名片，其它的都是社会的通行证。</p>
      </div>
    </div>

    <div class="feature-box col-md-4">
      <div class="feature-img">
        <img class="img-circle center-block" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508622771393&di=65a80c5abc579801ac55590bf662afdd&imgtype=0&src=http%3A%2F%2Fpic31.photophoto.cn%2F20140601%2F0008020212064544_b.jpg" alt="">
      </div>
      <div class="feature-text text-center">
        <h5>优化设计感</h5>
        <p>气场是你独一无二的精神名片。只有真善美是你正真的名片，其它的都是社会的通行证。</p>
      </div>
    </div>

  </div>

</div>


<!-- content 部分 -->
<div class="content-box container">

  <div class="content-img1 col-md-6">
    <img class="img-responsive" src="https://dn-ssl-dw-blog.qbox.me/files/2017/02/vary-home-screen-in-hand-held-iphone-7.jpg" alt="">
  </div>
  <div class="content-text col-md-6">
    <h5 class="text-center">个人网站</h5>
    <p>在网络上，名片不是你写的自我简介，而是你真正创造出来的作品。作品，才是你的名片。</p>
    <div class="content-img2 row">
      <div class="col-xs-6">
        <img class="img-responsive" src="https://dn-ssl-dw-blog.qbox.me/files/2017/02/vary-home-screen-in-hand-held-iphone-7.jpg" alt="">
      </div>
      <div class="col-xs-6">
        <img class="img-responsive" src="https://dn-ssl-dw-blog.qbox.me/files/2017/02/vary-home-screen-in-hand-held-iphone-7.jpg" alt="">
      </div>
    </div>
  </div>

</div>


<div class="content-box container">

  <div class="content-img1 col-md-6 pull-right">
    <img class="img-responsive" src="https://dn-ssl-dw-blog.qbox.me/files/2017/02/vary-home-screen-in-hand-held-iphone-7.jpg" alt="">
  </div>
  <div class="content-text col-md-6">
    <h5 class="text-center">企业网站</h5>
    <p>在网络上，名片不是你写的自我简介，而是你真正创造出来的作品。作品，才是你的名片。</p>
    <div class="content-img2 row">
      <div class="col-xs-6">
        <img class="img-responsive" src="https://dn-ssl-dw-blog.qbox.me/files/2017/02/vary-home-screen-in-hand-held-iphone-7.jpg" alt="">
      </div>
      <div class="col-xs-6">
        <img class="img-responsive" src="https://dn-ssl-dw-blog.qbox.me/files/2017/02/vary-home-screen-in-hand-held-iphone-7.jpg" alt="">
      </div>
    </div>
  </div>

</div>


<!-- story 部分 -->
<div class="story-box container">

  <h2 class="text-center">作品案例</h2>

  <div class="story-box-a col-md-6">
    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508704685263&di=7bbf7e527b420a159f232d5a7d697c26&imgtype=0&src=http%3A%2F%2Fimg3.xiazaizhijia.com%2Fwalls%2F20160509%2F1024x768_371048ef3cc1992.jpg" alt="">
    <span>企业形象</span>
    <h3>重新包装 摄影企业的新活力</h3>
    <p>在现代企业管理中，多数企业均采用制度管理的策略，这是基础管理，而思想管理是更高层次的企业管理方法，是企业管理的秘诀。使股东、员工、客户、合作伙伴了解企业真正的使命、核心价值观等思想，使思想高度统一，进而产生企业忠实度、品牌忠实度。在现代企业管理中，多数企业均采用制度管理的策略，这是基础管理品牌忠实度。</p>
  </div>

  <div class="story-box-b col-md-6">
    <div class="row">
      <div class="story-box-b-img col-sm-6">
        <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508704685263&di=7bbf7e527b420a159f232d5a7d697c26&imgtype=0&src=http%3A%2F%2Fimg3.xiazaizhijia.com%2Fwalls%2F20160509%2F1024x768_371048ef3cc1992.jpg" alt="">
        <span>个人品牌</span>
        <h3>简而言之 重建你的社交形象</h3>
      </div>
      <div class="story-box-b-img col-sm-6">
        <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508704685263&di=7bbf7e527b420a159f232d5a7d697c26&imgtype=0&src=http%3A%2F%2Fimg3.xiazaizhijia.com%2Fwalls%2F20160509%2F1024x768_371048ef3cc1992.jpg" alt="">
        <span>个人展示</span>
        <h3>让摄影师更自信的展示自己</h3>
      </div>
      <div class="story-box-b-img col-sm-6">
        <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508704685263&di=7bbf7e527b420a159f232d5a7d697c26&imgtype=0&src=http%3A%2F%2Fimg3.xiazaizhijia.com%2Fwalls%2F20160509%2F1024x768_371048ef3cc1992.jpg" alt="">
        <span>企业形象</span>
        <h3>这样的汽修网站 你喜欢吗</h3>
      </div>
      <div class="story-box-b-img col-sm-6">
        <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508704685263&di=7bbf7e527b420a159f232d5a7d697c26&imgtype=0&src=http%3A%2F%2Fimg3.xiazaizhijia.com%2Fwalls%2F20160509%2F1024x768_371048ef3cc1992.jpg" alt="">
        <span>购物网站</span>
        <h3>重构之后 让销量增加十倍</h3>
      </div>
    </div>
  </div>

</div>


<!-- say部分 -->
<div class="say-box">

  <h2 class="text-center">TA们怎么说</h2>

  <div class="container">
    <div class="say-avatar col-sm-4">
      <img class="img-circle" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508752528911&di=d0202bb22f1de9facf08ce47d45be0d3&imgtype=0&src=http%3A%2F%2Fwww.qqzhi.com%2Fuploadpic%2F2014-09-13%2F105859370.jpg" alt="">
      <div class="say-name">
        <h5>田凡</h5>
        <p>桦林餐具</p>
      </div>
      <div class="say-text">
        <p>进而产生企业忠实度、品牌忠实度。在现代企业管理中，多数企业均采用制度，这是基础管理品牌忠实度。</p>
      </div>
    </div>
    <div class="say-avatar col-sm-4">
      <img class="img-circle" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508754891597&di=7761facb70bf0c7fc375b0ad45c365de&imgtype=0&src=http%3A%2F%2Fimg1.3lian.com%2Fgif%2F2012%2F1%2F19%2F23.jpg" alt="">
      <div class="say-name">
        <h5>田凡</h5>
        <p>桦林餐具</p>
      </div>
      <div class="say-text">
        <p>进而产生企业忠实度、品牌忠实度。在现代企业管理中，多数企业均采用制度管理的策略。</p>
      </div>
    </div>
    <div class="say-avatar col-sm-4">
      <img class="img-circle" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2539323427,433997517&fm=27&gp=0.jpg" alt="">
      <div class="say-name">
        <h5>田凡</h5>
        <p>桦林餐具</p>
      </div>
      <div class="say-text">
        <p>进而产生企业忠实度,多数企业均采用制度管理的策略，这是基础管理品牌忠实度。</p>
      </div>
    </div>
  </div>


</div>
