/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// maincolor: #03a67b
// higtlight: #97dac9

// 固定底部footer
html {
  height: 100%;
  }

body {
  min-height: 100%;                                   // footer固定底部
  display: flex;                                      // footer固定底部
  flex-direction: column;
  // font-family: "Noto Sans S Chinese";
  font-size: 14px;
  font-weight: 300;
  color: #333;
  .content {
    flex: 1;                                          // footer固定底部
  }
  .navbar {
    border-radius: 0;                                 //圆角为0
  }
  .navbar-default {
    background-color: #fff;
    // opacity: 0.9;
    border-top: none;
    box-shadow: 0px 0.5px 4.85px 0.15px rgba(7, 0, 2, 0.08);
    z-index: 4;
    .navbar-nav > li {
      font-size: 14px;
      list-style: none;
        a {
          color: #777;
          transition: 0.3s;
        }
        a:hover {
          color: #03a67b;
          transition: 0.3s;
          text-decoration: none;
        }
    }
  }

}

footer {
  height: 60px;
}
