<footer>
  <div class="container text-center">
    <br>
    <div class="col-sm-7">
      <p>Copyright©2017 南宁简而言之信息科技有限公司</p>
    </div>
    <div class="col-sm-5">
      <p>关于我们  服务协议  合作意向  联系邮箱</p>
    </div>
    <br>
  </div>
</footer>
